body {
   
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/burger-friends.jpg);
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}

nav {
    background-color: #0fb9b1;
    width: 100%;
    display:flex;

}

h2 {
    margin-left:2.5rem;
    margin-top: 2.5rem;
}
.asterisk{
    color: #ee5253;
}

.parent-section {
    display: flex;
    justify-content:center;
    height:100vh;
}

.query-box {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height:25rem;
    width:30rem;
    margin:3rem;
    background-color: rgba(225, 225, 225, .9);
}

.results-box {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    height:25rem;
    width:30rem;
    margin:3rem;
    background-color: rgba(225, 225, 225, .9);    
}


.cookpot-image {
    display:flex;
    height:8rem;
    width: 8rem;
}


ul li {
    padding:.6rem;
    list-style-type: none;
}

.lets-cook {
    height: 2rem;
    width: 12rem;
   background-color: #0fb9b1;
   color: black;
   border-radius: 5px;
   box-shadow: none;
   border: 0;
   margin:1rem;
   cursor:pointer;
}

.radio-buttons {
    cursor:pointer;
}

.hidden {
    display: none;
}
/* COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
 */ 


